* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

@import url(//db.onlinewebfonts.com/c/4cac62b9f31046456d6fa8a29b0d9462?family=Sitka+Small);
@import url(//db.onlinewebfonts.com/c/ecf2edb722bb790456a7199f4b4cfef8?family=Sitka+Heading);
@import url(//db.onlinewebfonts.com/c/9eb5b7e8afb18f98b00594b9e758b378?family=Sitka+Display);
@import url(//db.onlinewebfonts.com/c/7a8bc7c29b5bcadb9510cca51210ac46?family=Sitka+Banner);

@font-face {
  font-family: "Sitka Small";
  src: url("//db.onlinewebfonts.com/t/4cac62b9f31046456d6fa8a29b0d9462.eot");
  src: url("//db.onlinewebfonts.com/t/4cac62b9f31046456d6fa8a29b0d9462.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4cac62b9f31046456d6fa8a29b0d9462.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4cac62b9f31046456d6fa8a29b0d9462.woff") format("woff"), url("//db.onlinewebfonts.com/t/4cac62b9f31046456d6fa8a29b0d9462.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4cac62b9f31046456d6fa8a29b0d9462.svg#Sitka Small") format("svg");
}
@font-face {
  font-family: "Sitka Heading";
  src: url("//db.onlinewebfonts.com/t/ecf2edb722bb790456a7199f4b4cfef8.eot");
  src: url("//db.onlinewebfonts.com/t/ecf2edb722bb790456a7199f4b4cfef8.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ecf2edb722bb790456a7199f4b4cfef8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ecf2edb722bb790456a7199f4b4cfef8.woff") format("woff"), url("//db.onlinewebfonts.com/t/ecf2edb722bb790456a7199f4b4cfef8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ecf2edb722bb790456a7199f4b4cfef8.svg#Sitka Heading") format("svg");
}
@font-face {
  font-family: "Sitka Display";
  src: url("//db.onlinewebfonts.com/t/9eb5b7e8afb18f98b00594b9e758b378.eot");
  src: url("//db.onlinewebfonts.com/t/9eb5b7e8afb18f98b00594b9e758b378.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9eb5b7e8afb18f98b00594b9e758b378.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9eb5b7e8afb18f98b00594b9e758b378.woff") format("woff"), url("//db.onlinewebfonts.com/t/9eb5b7e8afb18f98b00594b9e758b378.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9eb5b7e8afb18f98b00594b9e758b378.svg#Sitka Display") format("svg");
}
@font-face {
  font-family: "Sitka Banner";
  src: url("//db.onlinewebfonts.com/t/7a8bc7c29b5bcadb9510cca51210ac46.eot");
  src: url("//db.onlinewebfonts.com/t/7a8bc7c29b5bcadb9510cca51210ac46.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7a8bc7c29b5bcadb9510cca51210ac46.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7a8bc7c29b5bcadb9510cca51210ac46.woff") format("woff"), url("//db.onlinewebfonts.com/t/7a8bc7c29b5bcadb9510cca51210ac46.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7a8bc7c29b5bcadb9510cca51210ac46.svg#Sitka Banner") format("svg");
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Sitka Text';
}

h1 {
  font-family: 'Sitka Small';
  font-weight: normal;
}

p {
  font-family: 'Sitka Display';
  font-size: 30pt;
}

#side-container {
  width: 27%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#top-title {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

#nav-bar {
  width: 100%;
  flex-grow: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  background-color: #999;
}

.nav-click {
  width: 30px;
  height: 30px;
  margin: 10px;
  background-color: #fff;
}

#text-container {
  flex-grow: 1;
  padding: 20px;
}